.App {
  text-align: center;
  background-color: white;
  padding-top: 2em ;
  height: 100vh;
}

#timequiz {
  background-color: white;
  border-style: solid;
  border-radius: 15px;
  margin: 3em 5em;
  padding: .25em 2em;
  height: 50em;
}

#question {
  background-color: white;
  text-align: left;
}

#scoretime {
  display: flex;
  justify-content: space-between;
}

#scores{
  padding-top: 1.5em;
}

#quizcontainer{
  padding: 5em 2em;
}

#startbutton {
  background-color: blueviolet;
  color: white;
  font-size: 1.25em;
  border-radius: 10px;
  width: 7em;
  height: 2.5em;
}

.question-btn {
  background-color: purple;
  color: white;
  font-size: 1.5em;
  border-radius: 10px;
  width: 12em;
  height: 2em;
  text-align: left;
  padding-left: 1em;
}

#btn-group button {
  display: block;
}

#submit-btn {
  background-color: purple;
  color: white;
  font-size: 1.25em;
  border-radius: 10px;
  width: 6em;
  height: 2em;
  margin-top: .5em;
  margin-left: 1em;
}

p {
  font-size: 1.5em;
}

input {
  width: 50%;
  height: 3em;
  margin-left: 2em;
  margin-top: 1em;
}

#right-wrong {
  padding-top: 1em;
}

#complete {
  text-align: left;
}

#initials {
  display: flex;
}

#scores {
  text-align: left;

}

#high {
  background-color: lightgrey;
  height: 3em;
  margin-bottom: 1em;
}

#score {
  padding: .75em;
 
}



/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
