.App {
  text-align: center;
  background-color: blue;
  height: 100vh;
}

#timequiz {
  background-color: aqua;
  border-style: solid;
  margin: 3em 5em;
  padding: 3em 5em;
  height: 50em;
}

#question {
  background-color: white;
  border-style: solid;
  height: 30em;
  padding: 3em;
  
}



/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
